<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Who Stole The Cookie...</title>

    {{!-- compiled and minified CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- compiled and minified JavaScript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- google icon font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- linked style sheet --}}
    <link rel="stylesheet" href="/assets/css/cookie_style.css" type="text/css">

    {{!-- linked JS file --}}
    <script src="/js/cookie.js"></script>
</head>

{{!-- body handled in index.handlebars --}}

<body>
    {{{ body }}}

    {{!-- jQuery library --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {{!-- font awesome icons
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script> --}}

    {{!-- materialize js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>

</html>